.hidescroll::-webkit-scrollbar-track{
	background-color: #1a2236;
}

.hidescroll::-webkit-scrollbar{
	width: 6px;
	background-color: #F5F5F5;
}

.hidescroll::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: #555;
}

@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@100;400;700&display=swap');
@import 'app.min.css';
@import '~bootstrap/scss/bootstrap.scss';
@import '~font-awesome/scss/font-awesome.scss';
